.cabecalho {
  
    background-image: linear-gradient(purple, blue);
    color: blueviolet;
    display: flex;
    padding: 24px 0;
}

.section1 {
    background-image: linear-gradient(violet, red);
    text-align: center;

}

.section2 {
    background-image: linear-gradient(red, purple);
    text-align: center;     
    
}

.cabecalho-imagem{
    width: 15%;
}

.cabecalho-imagemh{
    width: 15%;
    
}