.cabecalho {
  
    background-image: linear-gradient(purple, violet);
    color: blueviolet;
    display: flex;
    padding: 24px 0;
}

.section1 {
    background-image: linear-gradient(violet, red)
    
}

.section2 {
    background-image: linear-gradient(red, purple)     
    
}

.cabecalho-imagem{
    width: 5%;
}

.cabecalho-imagemh{
    width: 5%;
}